* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    /* border: 2px solid red; */
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol {
    list-style: none;
}

/* ------- HEADER ------ */

.logo {
    font-family: 'Flavors', cursive;
    src: url(../fonts/Flavors-Regular.ttf);
    text-decoration: none;
}

.header {
    background-color: rgb(02, 30, 47);
    color: white;

    padding: 15px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: fixed;
    top: 0;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.barra-busqueda {
    display: flex;
    border-radius: 50px;
    gap: 10px;
    order: 1;

}

body {
    margin-top: 100px;
}

/*  =========================INDEX======================== */

/* ----- Portada - Dentro del index ----- */

.portada {
    background-color: #ffb703;
    height: 100vh;

    background-image: url("../img/portada-latas.jpg");
    background-position: center;
    background-size: cover;
    height: 20vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;


    background-color: #ffb803d0;
    padding: 15px;
    border-radius: 20px;
}



/* ------==== Productos - Dentro del index ======------ */

.productos-titulo {
    background-color: #fb8500;
    color: white;
    padding: 15px;
    text-align: center;
}

.tarjeta {
    background-color: #8ecae6;
    width: 280px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.tarjeta-img {
    width: 100%;
    height: 60%;
}

.tarjeta-body {
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 10px;
    align-self:auto;


}

.btn:hover {
    background-color: white;
    color: #219ebc;
}

.contenedor-productos {
    display: flex;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

/* =======VARIEDAD -  Dentro del index ============== */
.contenedor-variedad {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.variedad-rubia {
    background-image: url(../img/cervezas-rubias.png);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;

}

.variedad-roja {
    background-image: url(../img/cervezas-rojas.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}

.variedad-negra {
    background-image: url(../img/cervezas-negras.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}

.variedad-especiales {
    background-image: url(../img/cervezas-especiales.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}

/* ================= Diseño Responsive ======================= */

@media(max-width: 862px) {
    .barra-busqueda {
        display: none;
    }
    nav {
        display: none;
    }
    .menu-desplegable{
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 862px) {
    .menu-desplegable {
        display: none;

}


/* ================== FOOTER ====================== */

.footer {
    background-color: #24262b;
    padding: 60px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-column ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-column ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}

/* ============= Pagina de contacto =========== */



.titulo-contacto {
    text-align: center;
    color: white;
    background-color: #fb8500;
}


.redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.facebook-contacto {
    background-image: url(../img/logo-facebook.png);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 100px;
    height: 100px;
}

.instagram-contacto {
    background-image: url(../img/logo-instagram.png);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 100px;
    height: 100px;
}

.whatsapp-contacto {
    background-image: url(../img/logo-whatsapp.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 100px;
    height: 100px;
}


button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.texto-contacto {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #444;
    margin: 0;
    padding: 0;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contenedor-mapa {
    display: grid;
    align-items: center;
    justify-content: center;
}

.mapa {
    width: 80vw;
}


/* ==================== PAGINA DE ENVIOS================= */

.contenedor-envios {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-align: justify;
}

.titulo-envios {
    background-color: #fb8500;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.subtitulo-envios {
    font-size: 24px;
    margin-top: 20px;
}

.texto-envios {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
}

/* =============== PAGINA SOBRE NOSOTROS ====================== */

.contenedor-datos {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .datos-empresa, .datos-personal, .datos-servicios {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .datos-titulos {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .datos-textos {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    .datos-empresa, .datos-personal, .datos-servicios {
      width: 30%;
      margin: 0 20px;
      padding: 0;
    }
}

.datos-personal {
    order: -1;
  }