* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol {
    list-style: none;
}


.logo {
    font-family: 'Flavors', cursive;
    src: url(../fonts/Flavors-Regular.ttf);
    text-decoration: none;
}




body {
    margin-top: 100px;
}

// Variables para colores 

$color-primario: rgb(02, 30, 47);
$color-secundario: #fb8500;




@media (min-width: 768px) {

    .datos-empresa,
    .datos-personal,
    .datos-servicios {
        width: 30%;
        margin: 0 20px;
        padding: 0;
    }
}

.datos-personal {
    order: -1;
}


//* ================= Diseño Responsive ======================= */

@media(max-width: 862px) {
    .barra-busqueda {
        display: none;
    }

    nav {
        display: none;
    }

    .menu-desplegable {
        display: flex;
        justify-content: center;
    }


    .footer-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items:center;
    }

}

