* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;

    /* border: 2px solid red; */
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul,
ol {
    list-style: none;
}


.logo {
    font-family: 'Flavors', cursive;
    src: url(../fonts/Flavors-Regular.ttf);
    text-decoration: none;
}

.header {
    background-color: rgb(02, 30, 47);
    color: white;

    padding: 15px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    position: fixed;
    top: 0;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.barra-busqueda {
    display: flex;
    border-radius: 50px;
    gap: 10px;
    order: 1;


}

body {
    margin-top: 100px;
}


.footer {
    background-color: #24262b;
    padding: 60px 0;
}

.footer-row {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:repeat(4, 1fr) ;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-column ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-column ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
}



@media (min-width: 768px) {

    .datos-empresa,
    .datos-personal,
    .datos-servicios {
        width: 30%;
        margin: 0 20px;
        padding: 0;
    }
}

.datos-personal {
    order: -1;
}


/* ================= Diseño Responsive ======================= */

@media(max-width: 862px) {
    .barra-busqueda {
        display: none;
    }

    nav {
        display: none;
    }

    .menu-desplegable {
        display: flex;
        justify-content: center;
    }


    .footer-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items:center;
    }

}

@media(min-width: 862px) {
    .menu-desplegable {
        display: none;

    }
}