.carrito-compra {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }


.contenedor-carrito {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .titulo-carrito {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .total-carrito {
    font-weight: bold;
  }

  .boton-carrito {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
  }

  .boton-carrito:hover {
    background-color: #45a049;
  }

  .imagen-producto {
    max-width: 100px;
    height: auto;
    border-radius: 20px;
  }

  .nombre-producto {
    font-weight: bold;
  }

  .precio-producto {
    color: #555;
  }

  .titulo-pago {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
  }