.contenedor-envios {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    text-align: justify;
}

.titulo-envios {
    background-color: $color-secundario;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.subtitulo-envios {
    font-size: 24px;
    margin-top: 20px;
}

.texto-envios {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
}