.portada {
    background-color: #ffb703;
    height: 100vh;

    background-image: url("../img/portada-latas.jpg");
    background-position: center;
    background-size: cover;
    height: 20vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.portada-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;


    background-color: #ffb803d0;
    padding: 15px;
    border-radius: 20px;
}



//* ------==== Productos - Dentro del index ======------ */


.productos-titulo {
    background-color: $color-secundario;
    color: white;
    padding: 15px;
    text-align: center;
}



h3 {
    font-size: 1.2rem;
}



.contenedor-productos {
    display: flex;
    gap: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}



//* =======VARIEDAD -  Dentro del index ============== */
.contenedor-variedad {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.variedad-rubia {
    background-image: url(../img/cervezas-rubias.png);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;

}

.variedad-roja {
    background-image: url(../img/cervezas-rojas.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}

.variedad-negra {
    background-image: url(../img/cervezas-negras.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}

.variedad-especiales {
    background-image: url(../img/cervezas-especiales.jpg);
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    width: 200px;
    height: 300px;
}