.btn {
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 10px;
    align-self: auto;
    color: white;
    margin-bottom: 10px;


}

.btn:hover {
    background-color: white;
    color: #219ebc;
}

// Botones de la pgina de contacto 



button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
